body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    /* font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8; */
}

.row-1 {
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.content-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-section {
    display: flex;
    flex-direction: column;
}

.img-placeholder {
background-color: grey;
}