body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a, p, .bttn-1 {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}

p {
    margin-top: 0px;
}

.awesome {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 4px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    color: #1F2937;
}


.row-1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    min-height: 550px;
}

.row-2 {
    display: flex;
    flex-direction: column;
    min-height: 470px;
}

.row-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    min-height: 470px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 50%;
}

.signature {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.logo {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.links {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.content-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.col-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext {
    color: #848588ea;
    text-align: center;
    width: 204px;
}

.box {
    height: 166px;
    width: 166px;
    border: solid #3882F6;
    border-width: 5px;
    border-radius: 20px;
}

.signup-section {
    display: flex;
    flex-direction: column;
    margin-left: 225px;
    width: 427px;
    align-items: start;
}

.img-placeholder {
background-color: grey;
font-family: "Roboto", sans-serif;
font-size: 18px;
color: #E5E7EB;
display: flex;
align-items: center;
justify-content: center;
margin-right: 226px;
width: 580px;
height: 252px;
}

.bttn-1 {
    background-color: #3882F6;
    width: 115px;
    height: 40px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
}